.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 0;
  color: #fff;
  background-color: black;
}

/* #C7493A #A33327 #689775 #917164 #AD8174  */

.heading {
  font-weight: bold;

  font-size: 2.5rem;
  background-image: linear-gradient(to right, #a33327, #ad8174);
  background-clip: text;
  color: transparent;
}

.toolbar {
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.colors {
  display: flex;
  gap: 20px;
  padding: 0 30px;
}

.colors .color {
  height: 36px;
  width: 36px;
  border-radius: 50%;

  background-color: #c7493a;
}
.colors .active {
  border: 2px solid #000;
}

.toolbar button {
  padding: 8px 16px;
  border-radius: 5px;

  background-color: #c7493a;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.toolbar button svg {
  height: 20px;
  width: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
